/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #566b78;
}

.container{
    max-width: 40em;
    width: 100%;
    margin:0 auto;
}

*{
    box-sizing:border-box;
}



a {
  color: #e81c4f;
}
